target
build
build_CXX20
build_sanitize
cmake-build-debug
cmake-build-release
.vs
.vscode
.idea
.cache
questdb-rs/Cargo.lock
include/questdb/ingress/line_sender.gen.h
cython/questdb/ingress/line_sender.pxd
profile.out
__pycache__/
corrosion/test/cpp2rust/cpp2rust/rust/rust_dependency/Cargo.lock
corrosion/test/rustflags/rustflags/rust/some_dependency/Cargo.lock