[package]
name = "questdb-rs"
version = "2.1.3"
edition = "2021"
license = "Apache-2.0"
description = "QuestDB Client Library for Rust"
homepage = "https://questdb.io/"
repository = "https://github.com/questdb/c-questdb-client"
keywords = ["questdb", "ilp", "client-library"]
categories = ["database"]
authors = ["Adam Cimarosti <adam@questdb.io>"]

[lib]
name = "questdb"
crate-type = ["lib"]

[dependencies]
libc = "0.2"
socket2 = "0.5.4"
dns-lookup = "2.0.2"
base64ct = { version = "1.6.0", features = ["alloc"] }
ring = "0.16.20"
rustls = "0.21.7"
rustls-pemfile = "1.0.3"
webpki-roots = "0.25.2"
ryu = "1.0.15"
itoa = "1.0.9"

[target.'cfg(windows)'.dependencies]
winapi = "0.3.9"

[build-dependencies]
serde_json = { version = "1.0.107" }
serde = { version = "1.0.188", features = ["derive"] }
slugify = "0.1.0"
indoc = "2.0.3"

[dev-dependencies]
mio = { version = "0.8.8", features = ["os-poll", "net"] }

[features]
# Allow skipping verification of insecure certificates.
insecure-skip-verify = ["rustls/dangerous_configuration"]
