[package]
name = "questdb-rs"
version = "5.0.0"
edition = "2021"
license = "Apache-2.0"
description = "QuestDB Client Library for Rust"
homepage = "https://questdb.io/"
repository = "https://github.com/questdb/c-questdb-client"
keywords = ["questdb", "ilp", "client-library"]
categories = ["database"]
authors = ["Adam Cimarosti <adam@questdb.io>"]

[package.metadata.docs.rs]
features = ["almost-all-features"]

[lib]
name = "questdb"
crate-type = ["lib"]

[dependencies]
libc = "0.2"
socket2 = "0.5.5"
dns-lookup = "2.0.4"
base64ct = { version = "1.7", features = ["alloc"] }
rustls-pemfile = "2.0.0"
ryu = { version = "1.0" }
itoa = "1.0"
aws-lc-rs = { version = "1.13", optional = true }
ring = { version = "0.17.14", optional = true }
rustls-pki-types = "1.0.1"
rustls = { version = "0.23.25", default-features = false, features = ["logging", "std", "tls12"] }
rustls-native-certs = { version = "0.8.1", optional = true }
webpki-roots = { version = "0.26.8", default-features = false, optional = true }
chrono = { version = "0.4.40", optional = true }

# We need to limit the `ureq` version to 3.0.x since we use
# the `ureq::unversioned` module which does not respect semantic versioning.
ureq = { version = "3.0.10, <3.1.0", default-features = false, features = ["rustls-no-provider"], optional = true }

tokio = { version = "1.45.1", default-features = false, optional = true }
hyper = { version = "1.6.0", default-features = false, optional = true }

serde_json = { version = "1", optional = true }
questdb-confstr = "0.1.1"
rand = { version = "0.9.0", optional = true }
ndarray = { version = "0.16", optional = true }

[target.'cfg(windows)'.dependencies]
winapi = { version = "0.3.9", features = ["ws2def"] }

[build-dependencies]
serde_json = { version = "1.0.108" }
serde = { version = "1.0.193", features = ["derive"] }
slugify = "0.1.0"
indoc = "2"

[dev-dependencies]
mio = { version = "1", features = ["os-poll", "net"] }
chrono = "0.4.31"
tempfile = "3"
webpki-roots = "1.0.1"
rstest = "0.25.0"

[features]
default = ["sync-sender", "tls-webpki-certs", "ring-crypto"]

# Sync ILP/TCP + ILP/HTTP Sender
sync-sender = ["sync-sender-tcp", "sync-sender-http"]

# Sync ILP/TCP
sync-sender-tcp = ["_sender-tcp"]

# Sync ILP/HTTP
sync-sender-http = ["_sender-http", "dep:ureq", "dep:serde_json", "dep:rand"]

# Async ILP/TCP + ILP/HTTP Sender
async-sender = ["async-sender-tcp", "async-sender-http"]

# Async ILP/TCP Sender
async-sender-tcp = ["_sender-tcp", "dep:tokio"]

# Async ILP/HTTP Sender
async-sender-http = ["_sender-http", "dep:tokio", "dep:hyper"]

# Compatiblity alias.
ilp-over-http = ["sync-sender-tcp"]

# Allow use OS-provided root TLS certificates
tls-native-certs = ["dep:rustls-native-certs"]

# Allow use of the `webpki-roots` crate to validate TLS certificates.
tls-webpki-certs = ["dep:webpki-roots"]

# Use `aws-lc-rs` as the cryto library.
aws-lc-crypto = ["dep:aws-lc-rs", "rustls/aws-lc-rs"]

# Use `ring` as the crypto library.
ring-crypto = ["dep:ring", "rustls/ring"]

# Allow skipping verification of insecure certificates.
insecure-skip-verify = []

# Enable code-generation in `build.rs` for additional tests.
json_tests = []

# Enable methods to create timestamp objects from chrono::DateTime objects.
chrono_timestamp = ["chrono"]

# Hidden derived features, used in code to enable-disable code sections. Don't use directly.
_sender-tcp = []
_sender-http = []

# The `aws-lc-crypto` and `ring-crypto` features are mutually exclusive,
# thus compiling with `--all-features` will not work.
# Instead compile with `--features almost-all-features`.
# This is useful for quickly running `cargo test` or `cargo clippy`.
almost-all-features = [
    "sync-sender",
    "async-sender",
    "tls-webpki-certs",
    "ring-crypto",
    "insecure-skip-verify",
    "json_tests",
    "chrono_timestamp",
    "ndarray"
]

[[example]]
name = "basic"
required-features = ["chrono_timestamp", "ndarray"]

[[example]]
name = "auth"
required-features = ["chrono_timestamp"]

[[example]]
name = "auth_tls"
required-features = ["chrono_timestamp"]

[[example]]
name = "http"
required-features = ["sync-sender-http", "ndarray"]

[[example]]
name = "protocol_version"
required-features = ["sync-sender-http", "ndarray"]
