[package]
name = "questdb-rs-ffi"
version = "2.1.3"
edition = "2021"
publish = false

[lib]
name = "questdb_client"
crate-type = ["cdylib", "staticlib"]

[dependencies]
questdb-rs = { path = "../questdb-rs", features = ["insecure-skip-verify"] }
libc = "0.2"

[build-dependencies]
cbindgen = { version = "0.26.0", optional = true, default-features = false }

[features]

# Auto-generate the header. This is for dev-debugging-diffing only.
# A hand-crafted header is easier on the eyes.
gen_h = ["cbindgen"]
